*egg*
src
RUNNUM
.cache
.idea
.vagrant
runs
_run_archives
*.pyc
*.gz
.ipynb_checkpoints
dump.rdb
logs
compare
venv
ual_baus_install.sh
configs/hlcm_renter_no_unplaced.yaml
configs/hlcm_owner_no_unplaced.yaml
configs/hlcm_renter_lowincome_no_unplaced.yaml
configs/hlcm_owner_lowincome_no_unplaced.yaml

# Ignore all files with 'costar' in the name, case-insensitive
**/*[Cc][Oo][Ss][Tt][Aa][Rr]*.csv

# Allow files with 'costar' in the configs/adjusters directory
!configs/adjusters/*[Cc][Oo][Ss][Tt][Aa][Rr]*.csv

.DS_Store
site/*
run_setup.yaml
*.twbr

# test mode: log files
scripts/metrics/metrics_*.log
scripts/metrics/metrics_*.csv
scripts/metrics/debug_*.csv
scripts/metrics/metrics_*.xlsx
.vscode/launch.json
